
header {
  font-weight: bold;
  padding: 8%;
  font-size: xx-large;
}

body {
  background-color: aliceblue;
}

.app {
  min-height: 35vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.query{
  display: flex;
  width: 40vh;
  flex-flow: row;
  justify-content: flex-start;
}

.query > label {
  font-size: x-large;
  padding-right: 2vh;
}

.query > button {
  margin: 0px 0px 0px 75px;
}

.response {
  display: flex;
  width: 40vh;
  flex-flow: row;
  justify-content: flex-start;
}

.response > label {
  font-size: x-large;
  padding-right: 2vh;
}
